body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 20px;
  background: #f2f2f2;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Kontener carousel */
.carousel-container {
  position: relative;
 width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carousel {
width: 90%;
  display: flex;
  overflow: hidden; /* ukrywa częściowo widoczne karty */
  gap: 20px;
  padding: 10px 0;
}

/* Karty */
.card {
  flex: 0 0 auto;
  height: 150px;
  background: #fff;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: calc((100% - 40px)/3);;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: full;
  object-fit: cover;
}


/* Strzałki */
.arrow {
    height: fit-content;
    position: relative;
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
  font-size: 2em;
  padding: 0 20px;
  cursor: pointer;
  user-select: none;
}

.arrow.left { margin-right: 2.5%; }
.arrow.right { margin-left: 2.5%; }

.arrow:hover {
  background: rgba(0,0,0,0.7);
}

/* Tablet - 2 karty */
@media (max-width: 899px) and (min-width: 600px) {
  .card { min-width: calc((100% - 20px)/2); }
}

/* Mobile - 1 karta */
@media (max-width: 599px) {
  .card { min-width: 100%; }
}
